body{
    background: #d2d2c2;  /*cor fundo*/
    font: 16px arial, helvetica, sans-serif;
}
#principal-reconst{ /*div principal reconstruçao*/
    width: 900px; /*largura*/
    
}
#menu{
    background: #c5c5b2; /*cor fundo*/
    padding: 18px; /*espaço interno */

}
#conteudo{
    background: #e8e8d9; /*cor fundo texto*/
    padding: 10px; /*espaço interno letras*/

}
a. {     /*links pag */
    color: #4b566a;
    text-decoration: none; /*remove anderline dos links*/
    font-weight: bold; /*tipos letras*/
    padding: 5px; /*espaço interno entre links*/

}
h1 {    /*todos h1*/
    color: #828271;
    font-size: 1.2em;

}
h2 {
    color: #828271;
    font-size: 1.1em;
}
.img { /*fotos*/
    border: 10px solid #c3c3ae; /*bordas fotos*/